// Modification Bulma: 
// $column-gap : 2rem !default;

//  Modification des couleurs:
$footer-background-color: #DDD6FE;
$primary: #7C3AED;
$link: $primary;
$link-focus: #A78BFA;
$link-hover: #A78BFA;


// $fa-font-path:  "../webfonts";

// @import "../node_modules/bulma/bulma.sass";
@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// $fa-font-path:  "../node_modules/@fortawesome/fontawesome-free/webfonts";
$fa-font-path:  "../webfonts";
